* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "굴림", sans-serif;
  text-align: center;
  color: #fff;
  
}

.container {
  background-image: url('../img/rectangle1.png');  
  /*background-repeat: no-repeat;*/
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  text-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
}

section h1 {
  font-size: 48px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#date {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 56px;
}

#myname {
  font-size: 20px;
}