* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*width: 1920px;
  height: 1080px;
  */
  height: 100vh;
  font-family: "굴림", sans-serif;
  background-image: url('../img/img01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  
}

section {
  text-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
}

section h1 {
  font-size: 48px;
}

h1 {
  color: white;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.date {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
}